---
import { certs, awards } from '../data/achievements';
---

<div id="achievements" class="w-full flex lg:flex-row flex-col">
  <div class="basis-1/2 text-center">
    <h2 class="text-3xl my-4 font-bold text-gray-900 leading-tight mb-2 border-t-4 border-b-4 border-gray-600 py-4">Awards</h2>
    <ul class="container flex flex-col justify-center items-center">
      {awards.map(award => (
        <li class="w-full md:w-3/4 my-1">
          {award.url ? (
            <a href={award.url} target="_blank" rel="noopener noreferrer">
              <div class="flex items-center p-3 text-base text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
                <span class="fa fa-award"></span>
                <div class="flex flex-col">
                  <span class="ms-3 text-left">{award.title}</span>
                  <span class="ms-3 text-left text-sm">{award.description}</span>
                </div>
              </div>
            </a>
          ) : (
            <div class="flex items-center p-3 text-base text-gray-900 rounded-lg bg-gray-50 group dark:bg-gray-600 dark:text-white">
              <span class="fa fa-award"></span>
              <div class="flex flex-col">
                <span class="ms-3 text-left">{award.title}</span>
                <span class="ms-3 text-left text-sm">{award.description}</span>
              </div>
            </div>
          )}
        </li>
      ))}
    </ul>
  </div>
  <div class="basis-1/2 text-center">
    <h2 class="text-3xl my-4 font-bold text-gray-900 leading-tight mb-2 border-t-4 border-b-4 border-gray-600 py-4">Certifications</h2>
    <ul class="container flex flex-col justify-center items-center">
      {certs.map(cert => (
        <li class="w-full md:w-3/4 my-1">
          <div class="flex items-center p-3 text-base text-gray-900 rounded-lg bg-gray-50 group dark:bg-gray-600">
            <span class="fa fa-certificate"></span>
            <span class="ms-3 text-left break-words">{cert.title}</span>
          </div>
        </li>
      ))}
    </ul>
  </div>
</div>
