---
import { projects } from '../data/projects';
---

<div id="projects" class="w-full flex lg:flex-row flex-col">
  <div class="w-full text-center">
    <h2 class="text-3xl my-4 font-bold text-gray-900 leading-tight mb-2 border-t-4 border-b-4 border-gray-600 py-4">Projects</h2>
    <div class="grid lg:grid-cols-3 gap-4 grid-cols-1 md:grid-cols-2">
      {  
        projects.map(project => 
          <div class="items-center p-3 text-base text-gray-900 rounded-lg bg-gray-50 group  dark:bg-gray-600 dark:text-white">
            <img src={`images/contents_images/${project.image}`} alt={project.name} class="h-32 rounded-lg my-2 block m-auto" />
            <h3 class="text-lg font-bold">{project.name}</h3>
            <div class="text-sm flex flex-row flex-wrap justify-center my-1">{
              project.tags.map(tag => 
              <span class="text-xs bg-gray-200 dark:bg-gray-700 dark:text-white rounded-full px-2 mx-1">{tag}</span>
            )
            }</div>
            <div class="flex flex-col">
              <div class="flex-grow">
                <p class="text-sm">{ project.description }</p>
              </div>
              <div class="">
                {
                  project.url.map(url =>
                    <a href={url.url
                      } class="text-blue-800 dark:text-blue-400 hover:underline mx-2" target="_blank" rel="noopener noreferrer">{url.name}</a>
                  )
                }
              </div>
            </div>
          </div>
        )
      }
    </div>
  </div>
</div>
